nav {
  height: 72px;
  width: 100%;
  background-color: #202125;
  position: fixed;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
ul {
  list-style: none;
  display: flex;
}

li {
  padding: 8px 32px;
}

nav a {
  color: whitesmoke;
  text-decoration: none;
}

nav a:hover{
  color: rgb(28, 151, 233);
}

nav img {
  height: 62px;
}
